<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

  <!-- Favicon -->
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | relative_url }}">
  <link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">
</head>

<body>
  <nav class="navbar">
    <a href="#top">Home</a>
    <a href="#projects">Projects</a>
    <a href="#about">About</a>
    <a href="https://github.com/mcnallytj" target="_blank">GitHub</a>
  </nav>
  {{ content }}
</body>
</html>
